@page
@model ContactModel
@{
    ViewData["Title"] = "联系";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>



<address>
    <strong>技术支持:</strong> <a href="mailto:Support@example.com">火凤凰</a><br />
    <strong>联系邮箱:</strong> <a href="mailto:236509441@qq.com">236509441@qq.com</a>
</address>
