@page
@model FaDetailModel
@{
var i=Model.Info;
}

<div class="row">
    <div>
        <h4>@i.Title</h4>
        <h5>作者：@i.DDUser.UserName   @i.CreateTime</h5>
     
        <div>   
            @i.Content
        </div>
        
    </div>
</div>
