@page
@model SetModel
@{ Layout = "~/Pages/Account/Manage/_Layout.cshtml";
    ViewData["ActivePage"] = "Set";
    ViewData["SubTitle"] = "修改我的配置";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .loading {
        background: transparent url('/images/loading.gif') no-repeat scroll center center content-box !important;
    }
</style>
<script>
    $(function () {

        //$.get({
        //    url: "https://url/that/returns/a/form",
        //    dataType: "html",
        //    error: function (jqXHR, textStatus, errorThrown) {
        //        alert(textStatus + ": Couldn't add form. " + errorThrown);
        //    },
        //    success: function (newFormHTML) {
        //        var container = document.getElementById("form-container");
        //        container.insertAdjacentHTML("beforeend", newFormHTML);
        //        var forms = container.getElementsByTagName("form");
        //        var newForm = forms[forms.length - 1];
        //        $.validator.unobtrusive.parse(newForm);
        //    }
        //})
        $('#btnSearch').on('click', function () {  
            $('#log').html('').addClass('loading');
            $.get("/DD/Set?handler=Zdl",
                { term: $('#birds').val(), t: new Date().toUTCString() },
                function (d) {
                 
                    if (d.length == 0) {
                        $('#myModal').modal('show'); 
                        $('#btnComit').hide();
                    } else {
                        var s = '<label for="log"> 选择所在地: </label><div> ';
                        $.each(d, function (index, value, array) {
                            s += '<input type="radio" name="id" value="' + value.id + '" />' + value.title + value.value + '<br />';  //$('<div id="' + value.id + '">').html(value.title + value.value)
                        });
                        $(s + '</div>').prependTo('#log');
                        $('#btnComit').show();
                    }
                   
                    $('#log').removeClass('loading');
                }
            );
        });
    });


</script>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-4">
        <h4>设置所在地</h4>
        <form method="post" class="form-horizontal">
            @*一定要这个form post，才可以产生一个hidden，记录 "XSRF-TOKEN"*@

            <div class="form-group">
                <div class=" col-md-10">
                    <input id="birds" class="form-control" value="" placeholder="输入所在地">
                    <input type="button" class="btn btn-primary  clearfix " style="margin-top:0.5em;" value="查找" id="btnSearch" /> 
                </div> 
                
            </div>

            <div class="form-group"> 
                <div class=" col-md-10">
                    <div id="log" style="height: auto; min-height:1em; width: 300px;" class="ui-widget-content">
                        @*<input type="radio" name="id" value="101" />*@<br />
                    </div>
                </div>
            </div>

            <div class="form-group" id="btnComit" style="display:none;">
                <div class=" col-md-10">
                    <button type="submit" class="btn btn-primary">关注</button>

                    <button type="submit" asp-page-handler="Zdl" class="btn btn-primary">设为归宿地</button>

                </div>
            </div>

        </form>
    </div>
</div>
  
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    没找到！请联系管理员
                </h4>
            </div>
            <div class="modal-body">
               比如，搜索龙王村，只需输入龙王
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
