@page
@model ZhuTiOpeModel
@{
}

<div class="row">
    <div class="col-md-4">
        <section>
            <h4>我来添加个主题</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" placeholder="新主题" name="Title" class="form-control" />
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                    <textarea name="Des" placeholder="描述" cols="3" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Input.Des" class="text-danger"></span>
                    <button type="submit" asp-page-handler="New" class="btn btn-default">创建主题</button>
                </div>
            </form>
        </section>
    </div>
</div>