@{ 
    Layout = "/Pages/_Layout.cshtml";
}

<h2>管理账户</h2>

<div>
    <h4>@(ViewData["SubTitle"]??"修改账户设置")</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
